// package 
//  downloaded from npm 
//  and modules from node js
// fs 
//http
// npm package json and node modules folder

// const fs = require('fs');
// fs.mkdir('its-abcd',function(err){
//     if(err ) console.log(err.message);
//     else console.log('Created directory')
// })

// WriteFile
// readFile
// readdir  ---> dirent ek data structure hai jo file ka data type batata hai